---

---

<html>
    <head>

    </head>
    <body>
        <ul class="flex flex-col items-center gap-1">
            <a href="/search" class="text-xl underline">Search</a>
            <a href="/pagination" class="text-xl underline">Pagination</a>
            <a href="/rating" class="text-xl underline">Rating</a>
            <a href="/dropdown" class="text-xl underline">Dropdown</a>
        </ul>
    </body>
</html>