---
import { Pagination } from '@astro-bryceguy/pagination';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Welcome to Astro</title>
	</head>
	<body style="display:flex;flex-direction:column;gap:1rem;align-items:center;margin:3rem;">
		<Pagination url="/posts" total="12" current="6" />
		<Pagination url="/posts" total="22" current="11" theme="inline" />
		<Pagination url="/posts" total="22" current="11" start="5" end="1" middle="1" theme="inline" />
		<Pagination url="/posts" total="22" current="11" start="1" end="5" middle="1" theme="inline" />
		<Pagination url="/posts" total="22" current="11" start="5" end="5" middle="1" theme="inline" />
		<Pagination url="/posts" total="22" current="11" start="1" end="1" middle="5" theme="inline" />
		<Pagination url="/posts" total="9999" current="1000" theme="inline" />
		<Pagination url="/posts" total="9999" current="1000" commas={false} theme="inline" />
		<Pagination url="/posts" total="12" current="6" collapse={false} theme="inline" />
		<Pagination url= "/posts" total= "11" current= "5" start="0" end="0" middle="1" theme="simple"/>
		<!-- Custom Tailwindcss Example -->
		<Pagination url="/posts" total="9999" current="1000"
			theme={{
				container: {
					class: "flex items-center gap-1"
				},
				link: {
					class: "relative flex-nowrap inline-flex items-center px-3 py-1 rounded-3xl border text-sm font-medium"
				},
				active: {
					class: "relative flex-nowrap inline-flex items-center px-3 py-1 rounded-3xl border border-purple-400 text-sm font-medium bg-purple-500 text-white"
				},
				disabled: {
					text: "",
					class: "leading-none flex items-center px-3"
				}
			}}
		/>
		<Pagination url="/posts" total="31" current="9" start="1" end="1" middle="3"
			theme={{
				container: {
					style: "display:flex;align-items:center;gap:.25rem;"
				},
				active: {
					style: "cursor:pointer;position:relative;display:inline-flex;align-items:center;padding:.2rem.6rem;background-color:#0EA5E9;border-radius:50%;flex-wrap:nowrap;line-height:1.25rem;font-size:.875rem;font-weight:500;color:white;",
				},
				link: {
					style: "cursor:pointer;position:relative;display:inline-flex;align-items:center;padding:.2rem.6rem;flex-wrap:nowrap;line-height:1.25rem;font-size:.875rem;font-weight:500;"
				},
				first: {
					text: "<",
					style: "font-family:monospace;padding: 0 0.5rem;border-radius:50%;border: 1px solid #ccc;font-weight:bold;font-size:1rem;"
				},
				last: {
					text: ">",
					style: "font-family:monospace;padding: 0 0.5rem;border-radius:50%;border: 1px solid #ccc;font-weight:bold;font-size:1rem;"
				},
				disabled: {
					text: ""
				}
			}}
		/>
	</body>
</html>
