---
import { Rating } from '@astro-bryceguy/rating';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Welcome to Astro</title>
	</head>
	<body style="display:flex;flex-direction:column;gap:1rem;align-items:center;margin:3rem;">
		<Rating max="5" rate="2.5" total="6503"/>
	</body>
</html>
