---
import Prose from '@astro-bryceguy/utility/prose/Prose.astro';
import Map from '@astro-bryceguy/utility/map/Map.astro';
import { Content } from './Markdown.md';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
	</head>
	<body >
		<main>
            <Map {...['one', 'two', 'three']}>
                {(i) => <a>{i}</a>}
            </Map>
            <!-- <Prose>
                <Content />
            </Prose> -->
		</main>
	</body>
</html>