---
import Base from "@/layouts/Base.astro";
---

<Base>
    <ul>
        <li><a href="/book-index">Book Index</a></li>
        <li><a href="/json-element">JSON Element</a></li>
        <li><a href="/scope">Scope</a></li>
    </ul>
</Base>